<div id="breadcrumbs">
    <div ng-class="{ fixed: fixed }">
        <div ng-show="pageType == 'edit' && isAuthenticated()" class="page-buttons btn-group pull-right">
            <button class="btn btn-link" ng-click="save()"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-link" ng-click="revert()"><i class="fa fa-undo"></i> Cancel</button>
            <button class="btn btn-link" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</button>
        </div>
        <div ng-hide="pageType != 'wiki'" class="page-buttons btn-group pull-right">
            <button ng-hide="!isAuthenticated()" class="btn btn-link" ng-click="goToEdit()"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-link" ng-click="goToHistory()"><i class="fa fa-history"></i> History</button>
            <button class="btn btn-link" ng-click="goToComments()"><i class="fa fa-comments-o"></i> Comments</button>
        </div>
        <div ng-hide="pageType != 'comments'" class="page-buttons btn-group pull-right">
            <button class="btn btn-link" ng-click="addComment()"><i class="fa fa-plus"></i> New Comment</button>
        </div>
        <ol class="breadcrumb">
            <li ng-repeat="crumb in breadcrumbs() track by $index" ng-class="{ active: $last }">
                <a ng-if="$first" href="/wiki/welcome"><i class="fa fa-home"></i></a>
                <a ng-if="!$last" href="/wiki/{{ buildCrumbUrl($index) }}">{{ crumb }}</a>
                <span ng-if="$last">{{ crumb }}</span>
            </li>
        </ol>
    </div>
</div>
