<div class="container">
    <h1>History for <code>/{{ wikiPath }}</code></h1>
    <ul>
        <li ng-repeat="revision in revisions | orderBy: '-commit.committed'">
            <span class="text-muted">{{  revision.commit.committed | date:'short' }}</span>
            (<a href="/profile/{{ revision.commit.user.email }}">{{ revision.commit.user.display || revision.commit.user.email }}</a>):
            <b>{{ revision.commit.message }}</b>
            (<a href="/wiki{{ revision.slug_id }}?revision={{ revision.id }}">view</a>) (<a href="/diff/{{ revision.commit.id }}">diff</a>)
        </li>
    </ul>
</div>
