<div class="container">
    <div class="form-group item-limit">
        <select class="pull-right form-control" id="limitList" ng-model="limit" ng-options="limit.value as limit.text for limit in limits"></select>
        <label class="pull-right" for="limitList">Show</label>
    </div>
    <h1>History for <code>/{{ wikiPath }}</code></h1>
    <ul>
        <li ng-repeat="revision in revisions | orderBy: '-commit.committed'">
            <span class="text-muted">{{  revision.commit.committed | date:'short' }}</span>
            (<a href="/profile/{{ revision.commit.user.email }}">{{ revision.commit.user.display || revision.commit.user.email }}</a>):
            <b>{{ revision.commit.message }}</b>
            (<a href="/wiki{{ revision.slug_id }}?revision={{ revision.id }}">view</a>) (<a href="/commit/{{ revision.commit.id }}">diff</a>)
        </li>
    </ul>
</div>
