<!-- If we find a wiki page at this url, we render it -->
<div ng-if="page.body" class="wiki-content container">
    <header>
        <span class="pull-right hidden-xs tags">
            <span class="label label-default" ng-repeat="tag in page.tags track by $index" style="margin-right: 5px">#{{ tag }}</span>
        </span>
        <h1 class="page-title"><i class="fa fa-file-text-o"></i> {{ page.title || wikiPath }}</h1>
        <div class="visible-xs">
            <hr>
            <span class="label label-default" ng-repeat="tag in page.tags track by $index" style="margin-right: 5px">#{{ tag }}</span>
        </div>
        <hr>
    </header>
    <markdown src="page.body"></markdown>
</div>

<!-- Otherwise, we display a friendly does not exist page -->
<div ng-if="page.body == undefined">
    <h3 class="text-center">
        The page <code>/{{ wikiPath }}</code> does not exist.
    </h3>
    <p class="text-center">
        Would you like to <a href="/edit/{{ wikiPath }}">create it</a>?
    </p>
</div>
