<div ng-if="!user">
    <h3 class="text-center">Please sign in to edit your profile.</h3>
</div>

<!-- If we're logged in -->
<div ng-if="user">
    <h2>Edit Your Profile</h2>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object img-thumbnail navbar-right profile-image" gravatar-src="user.email" gravatar-size="200" title="{{ user.display || user.email }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Email: <code>{{ user.email }}</code></h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Display Name" ng-model="user.display">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="save()"><i class="fa fa-save"></i> Save</button>
            </span>
            </div>
        </div>
    </div>
</div>
