<div id="tome-header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="{{ config.description }}"><img ng-if="config.logo" src="{{ config.logo }}" class="logo"> {{ config.name || 'Tome Wiki' }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse" collapse="isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="/recent"><i class="fa fa-history"></i> Recent Activity</a></li>
                    <li><a href="/tags"><i class="fa fa-tags"></i> Tags</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!user"><a ng-click="login()"><i class="icon-persona"></i> Sign in</a></li>
                    <li ng-if="user"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                </ul>
                <a href="/profile" class="navbar-right navbar-text"><img ng-if="user" class="profile-image img-rounded" gravatar-src="user.email" gravatar-size="80" title="{{ user.display || user.email }}"></a>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group search-box">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search" ng-model="query" ng-enter="search()">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <breadcrumbs></breadcrumbs>
</div>

