//----------------------------------------------------------------------------------------------------------------------
// Tome Styles
//----------------------------------------------------------------------------------------------------------------------

@mono-fonts: "Monaco", Courier New, monospace;

//----------------------------------------------------------------------------------------------------------------------
// Overrides
//----------------------------------------------------------------------------------------------------------------------

html, body {
    font-size: 14px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 25px;

}

h3 {
    font-size: 18px;

}

h4 {
    font-size: 14px;

}

h5 {
    font-size: 14px;

}

h6 {
    font-size: 14px;

}

.text-mono {
    font-family: @mono-fonts;
}

@media (max-width: 767px)
{
    .visible-xs-inline {
        display: inline-block !important;
    }
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 300px;
}

//----------------------------------------------------------------------------------------------------------------------
// Custom panel Theming
//----------------------------------------------------------------------------------------------------------------------

.panel-heading {
    .btn.btn-sm {
        padding: 2px 8px;
        margin-top: -3px;
    }
}

.panel {
    > textarea.form-control {
        border: none;
        font-family: @mono-fonts;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Wiki page
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------
// Header test

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

.header-link {
    position: absolute;
    font-size: .85em;
    left: -0.7em;
    opacity: 0;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;

    color: #bbb;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

//----------------------------------------------------------

.wiki-content {
    header {
        .page-title {
            margin-bottom: 0;
        }

        .page-title + hr {
            margin-top: 10px;
        }

        .tags {
            margin-top: 10px;
        }
    }
}

.footer-body
{
    margin-bottom: 20px;
}

//----------------------------------------------------------------------------------------------------------------------
// Search page
//----------------------------------------------------------------------------------------------------------------------

.search-results,
.doc-list {
    li {
        & + li {
            margin-top: 10px;
        }

        .result-title,
        .doc-title {
            font-size: 1.25em;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
// History/Recent Pages
//----------------------------------------------------------------------------------------------------------------------

.item-limit {
    position: relative;
    margin-top: 21px;
    z-index:100;

    select {
        width: auto !important;
    }

    label {
        margin: 11px 10px;
    }
}

.history-list {
    .list-group-item-heading {
        min-height: 20px;
    }

    .diff-btn {
        position: relative;
        z-index: 10;
    }

    .profile-btn {
       padding: 0;
       margin-top: -4px;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Comments
//----------------------------------------------------------------------------------------------------------------------

.comments {
    img.profile-image {
        width: 70px;
        height: 70px;
    }

    .visible-xs img.profile-image {
        width: 70px;
        height: 70px;
    }

    .group {
        margin-top: -20px;
        padding-top: 20px;

        h3.group-title {
            margin-top: 0;
        }

        .group-toolbar {
            position: relative;
            z-index: 10;
        }
    }

    .group + .group {
        border-top: 1px dashed #aaa;
        margin-top: 20px;
    }

    .media + .media {
        border-top: 1px dashed #eee;
        padding-top: 20px;
    }

    .media-body {
        padding-top: 10px;
    }

    .media-heading {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .media-footer {
        padding-left: 10px;
        padding-right: 10px;

        hr {
            margin: 10px -10px;
        }
    }

    #new-comment
    {
        margin-top: 20px;
        padding-top: 20px;

        &.border {
            border-top: 2px solid #aaa;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
