//----------------------------------------------------------------------------------------------------------------------
// Overrides
//----------------------------------------------------------------------------------------------------------------------

@media (max-width: 767px)
{
    .visible-xs-inline {
        display: inline-block !important;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Wiki page
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------
// Header test

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

.header-link {
    position: absolute;
    font-size: .85em;
    left: -0.7em;
    opacity: 0;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;

    color: #bbb;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

//----------------------------------------------------------

.wiki-content {
    header {
        .page-title {
            margin-bottom: 0;
        }

        .page-title + hr {
            margin-top: 10px;
        }

        .tags {
            margin-top: 10px;
        }
    }
}

.footer-body
{
    margin-bottom: 20px;
}

//----------------------------------------------------------------------------------------------------------------------
// Edit page
//----------------------------------------------------------------------------------------------------------------------

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 300px;
}

//----------------------------------------------------------------------------------------------------------------------
// Profile Page
//----------------------------------------------------------------------------------------------------------------------

img.profile-image {
    width: 100px;
    height: 100px;
}

//----------------------------------------------------------------------------------------------------------------------
// Search page
//----------------------------------------------------------------------------------------------------------------------

.search-results {
    li {
        margin-bottom: 10px;

        .result-title {
            font-size: 1.25em;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
// History/Recent Pages
//----------------------------------------------------------------------------------------------------------------------

.item-limit {
    position: relative;
    margin-top: 21px;
    z-index:100;

    select {
        width: auto !important;
    }

    label {
        margin: 11px 10px;
    }
}

//----------------------------------------------------------------------------------------------------------------------
