<div id="profile" class="container">
    <h2>{{ getDisplay(email) }}'s Profile</h2>
    <div class="media">
        <div class="media-left">
            <img class="media-object img-thumbnail" gravatar-src="user.email" gravatar-size="200" title="{{ user.display || user.email }}">
        </div>
        <div class="media-body">
            <h3 class="media-heading">Email: <small class="text-mono">{{ user.email }}</small></h3>
            <h3 class="media-heading">Display Name: <small>{{ user.displayName }}</small></h3>
            <h3 class="media-heading">Joined: <small>{{ user.created | date:'shortDate' }}</small></h3>
            <br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button ng-if="isUserProfile && editing"
                            class="btn btn-success btn-sm pull-right"
                            ng-click="save()"
                            style="position: relative; z-index: 100">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <button ng-if="isUserProfile && !editing"
                            class="btn btn-primary btn-sm pull-right"
                            ng-click="edit()"
                            style="position: relative; z-index: 100">
                        <i class="fa fa-edit"></i> Edit
                    </button>
                    <h4 class="panel-title">Bio</h4>
                </div>
                <div ng-if="!editing" class="panel-body">
                    <span ng-if="user.bio">{{ user.bio }}</span>
                    <h4 ng-if="!user.bio">No bio yet.</h4>
                </div>
                <textarea ng-if="editing" class="form-control monospace" ng-model="user.bio"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group item-limit clearfix">
        <select class="pull-right form-control" id="limitList" ng-model="limit" ng-options="limit.value as limit.text for limit in limits"></select>
        <label class="pull-right" for="limitList">Show</label>
        <h2><i class="fa fa-history"></i> Activity</h2>
    </div>
    <ul>
        <li ng-repeat="revision in revisions | orderBy: '-created'">
            <span class="text-muted">{{  revision.created | date:'short' }}</span>:
            <code>{{ revision.url }}</code> -
            <b>{{ revision.message }}</b>
            (<a href="/wiki/{{ revision.url }}?revision={{ revision.id }}">view</a>)
            <span ng-if="!$last">
                (<a href="/diff/{{ revisions[$index + 1].id }}/{{ revision.id }}">diff</a>)
            </span>
        </li>
    </ul>
</div>
