<div class="container">
    <h1>Revision Diff:</h1>
    <h4>
        <a href="/wiki/{{ rev1.url }}?revision={{ rev1.id }}" title="{{ rev1.message }}">
            <code>{{ rev1.id }}</code>
        </a>
        <i class="fa fa-long-arrow-right"></i>
        <a href="/wiki/{{ rev2.url }}?revision={{ rev2.id }}" title="{{ rev2.message }}">
            <code>{{ rev2.id }}</code>
        </a>
        <button class="btn btn-default btn-xs" title="Swap Revisions" ng-click="swap()"><i class="fa fa-exchange"></i></button>
    </h4>
    <hr>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-10">
                <p class="form-control-static">"{{ rev1.title }}" <span ng-if="rev1.title != rev2.title"><i class="fa fa-long-arrow-right"></i> "{{ rev2.title }}"</span></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags:</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <span class="label label-default" ng-repeat="tag in rev1.tags track by $index" style="margin-right: 5px">#{{ tag }}</span>
                    <span ng-if="!tagsEqual()">
                        <i class="fa fa-long-arrow-right"></i>
                        <span class="label label-default" ng-repeat="tag in rev2.tags track by $index" style="margin-right: 5px">#{{ tag }}</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Body:</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <!-- We work around a minor limitation in the diff library; it can't handle diffing against an empty string. While this isn't right, it's better than nothing.-->
                    <pre class="diff" line-diff left-obj="(rev1.body || ' ')" right-obj="(rev2.body || ' ')"></pre>
                </p>
            </div>
        </div>
    </form>
</div>
